:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    --black: #2d2d2d;
    --white: #fff;
    --light-blue: #00a2ff;
    --blue: #003366;
    --gray: #f7f7f7;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--system-ui);
    font-size: 18px;
    line-height: 1.5;
    color: var(--black);
    text-align: left;
    min-width: 290px;
    min-height: 100%;
    box-sizing: border-box;
}

body {
    background-color: var(--white);
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    background-color: var(--light-blue);
    color: var(--gray);
    overflow: scroll;

}

#nav-header {
    color: var(--gray);
}

#navbar ul {
    height: 100%;
    padding: 0;
}


#navbar li {
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar li:last-child {
    margin-bottom: 20px;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    color: var(--gray);
}

#navbar a:hover {
    background-color: var(--gray);
    color: var(--light-blue);
}

#navbar a:active {
    background-color: var(--gray);
    color: var(--blue);
}


h1 {
    font-size: 2.5em;
    color: var(--black);
    margin-bottom: 1%;
}

header {
    color: var(--black);
    font-size: 1.5em;
}

#main-doc {
    margin-left: 310px;
    padding: 30px;
    margin-bottom: 5%;
}

#main-doc a {
    color: var(--blue);
}

#main-doc a:visited {
    color: var(--light-blue);
}

#main-doc header {
    margin-bottom: 1%;
}

.main-section {
    margin-bottom: 5%;
}

section li {
    margin: 0 2% 1% 4%;
}

section li:last-child {
    margin-bottom: 2%;
}

code {
    display: block;
    text-align: left;
    position: relative;
    line-height: 2;
    background-color: var(--gray);
    padding: 15px;
    border-radius: 5px;
    white-space: pre-wrap;
    overflow: auto;
}

pre {
    line-height: 2;
    background-color: var(--gray);
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    white-space: pre-wrap;
    overflow: auto;
}

.bottom-space-bg {
    margin-bottom: 5%;
}

.bottom-space-md {
    margin-bottom: 2%;
}

.bottom-space-sm {
    margin-bottom: 1%;
}

.hidden {
    display: none;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 100%;
    padding: 4%;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: var(--light-blue);
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}


@media (max-width: 700px) {

    #main-doc {
        margin-left: 0px;
    }
    .top-nav {
        width: 100%;
        height: 30px;
        display: block;
        position: fixed;
    }

    .menu-button-container {
        display: flex;
    }

    #menu-toggle ~ .menu {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menu-toggle:checked ~ .menu {
        height: 100%;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--black);
        color: var(--white);
    }

    #navbar {
        color: var(--black);
    }

    #navbar a {
        color: var(--black);
    }

    #navbar a:hover {
        background-color: var(--black);
        color: var(--light-blue);
    }

    #navbar a:active {
        background-color: var(--gray);
        color: var(--light-blue);
    }

    h1 {
        color: var(--white);
    }

    header {
        color: var(--white);
    }

    #main-doc a {
        color: var(--gray);
    }

    #main-doc a:visited {
        color: var(--light-blue);
    }

    code {
        background-color: var(--blue);
        color: var(--white);
    }

    pre {
        background-color: var(--blue);
        color: var(--white);
    }

    .menu-button,
    .menu-button::before,
    .menu-button::after {
        background-color: var(--light-blue);
    }
}