:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    --black: #2d2d2d;
    --white: #fff;
    --light-blue: #00a2ff;
    --blue: #003366;
    --green: #8fbc8f;
    --gray: #f4f4f4;
}

html,
body {
    min-width: 290px;
    color: var(--black);
    background-color: var(--white);
    font-family: var(--system-ui);
    line-height: 1.5;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: thin;
}

h1 {
    text-align: left;
    margin: 0px;
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    color: #4d4e53;
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    color: var(--blue);
    text-decoration: none;
    cursor: pointer;
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

section article {
    color: #4d4e53;
    margin: 15px;
    font-size: 0.96em;
}

section li {
    margin: 15px 0px 0px 20px;
}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: var(--gray);
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

@media only screen and (max-width: 815px) {
    /* For mobile phones: */
    #navbar ul {
        border: 1px solid;
        height: 207px;
    }

    #navbar {
        background-color: var(--light-blue);
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }

    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 270px;
    }
}

@media only screen and (max-width: 400px) {
    #main-doc {
        margin-left: -10px;
    }

    code {
        margin-left: -20px;
        width: 100%;
        padding: 15px;
        padding-left: 10px;
        padding-right: 45px;
        min-width: 233px;
    }
}

/*
Old CSS:

html, body {
    font-family: var(--system-ui);
    font-size: 18px;
    line-height: 1.5;
    color: #2d2d2d;
    min-height: 100%;
    min-width: 290px;
    background-color: #fff;
    text-align: center;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    font-weight: 800;
    margin: 2rem 1rem 0.5rem 1rem;
}

header {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

#main-doc {
    margin: 0 auto;
    padding: 20px;
}

#navbar > li {
    list-style: outside;
    text-align: left;
    line-height: 1.5em;
    margin: 0 5% 2% 5%;
}

a {
    color: #003366;
}

a:visited{
    color: #00a2ff;
}

.bold {
    font-weight: bold;
}

.bottom-space, .main-section {
    margin-bottom: 2%;
}

.top-space {
    margin-top: 1.5rem;
}



/* Nav Bar */
/*
#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-bottom: solid 2px;
    border-color: rgba(0, 51, 102, 0.4);
}
/*
.top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #26291b;
    color: #c4c4c4;
    height: 50px;
    padding: 1em;
    position: fixed;
    width: 100%
}
*/
/*
.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu > li {
    margin: 0 1rem;
    overflow: hidden;
}

.nav-link {
    color: #c4c4c4;
    text-decoration: none;
}

.nav-link:hover {
    color: #c79642;
    text-decoration: underline;
}

.nav-link:active {
    color: #c79642;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #c4c4c4;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

@media (max-width: 700px) {
    .menu-button-container {
        display: flex;
    }
    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    #menu-toggle ~ .menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    #menu-toggle:checked ~ .menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: #c4c4c4;
        background-color: #26291b;
    }
    .menu > li:not(:last-child) {
        border-bottom: 1px solid #c4c4c4;
    }
    #nav-header {
        display: none;
    }
}

/* Nav bar end */
