:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    --black: #2d2d2d;
    --white: #fff;
    --light-blue: #00a2ff;
    --blue: #003366;
    --green: #8fbc8f;
    --gray: #f7f7f7;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--system-ui);
    font-size: 18px;
    line-height: 1.5;
    color: var(--black);
    text-align: left;
    min-width: 290px;
    min-height: 100%;
    box-sizing: border-box;
}



body {
    background-color: var(--white);
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    background-color: var(--light-blue);
    color: var(--gray);
    overflow: scroll;

}

.top-nav {
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
    background-color: yellow;
}

header {
    color: var(--black);
    font-size: 1.5em;
}

#nav-header {
    color: var(--gray);
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar li {
    border-top: 1px solid;
    list-style: none;
    position: relative;
    width: 100%;
}

#navbar a {
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    cursor: pointer;
    color: var(--gray);
}

#navbar a:hover {
    background-color: var(--gray);
    color: var(--light-blue);
}

#navbar a:active {
    background-color: var(--gray);
    color: var(--blue);
}

#main-doc {
    position: absolute;
    margin-left: 310px;
    padding: 30px;
    margin-bottom: 110px;
}

section p {
    font-size: 0.96em;
}

section li {
    margin: 0 2% 2% 4%;

}

code {
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: var(--gray);
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

.hidden {
    display: none;
}



@media only screen and (max-width: 815px) {
    /* For mobile phones:*/
    #navbar ul {
        border: 1px solid;
        height: 207px;
    }

    #navbar {
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }

    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 270px;
    }
}

@media only screen and (max-width: 400px) {
    #main-doc {
        margin-left: -10px;
    }

    code {
        margin-left: -20px;
        width: 100%;
        padding: 15px;
        padding-left: 10px;
        padding-right: 45px;
        min-width: 233px;
    }
}
